<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail Homepage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">
        <h3>Random Cocktail</h3>
        <div id="cocktail-display">
            <h4><%= cocktail.strDrink %></h4>
            <img src="<%= cocktail.strDrinkThumb %>" alt="<%= cocktail.strDrink %>" width="200">
            <p><%= cocktail.strInstructions %></p>
        </div>
        <button id="btn-get-cocktail">Generate a random Cocktail</button>
    </div>
    <script src="/js/main.js"></script>
</body>

</html>
